html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
/*CSS reset*/

.container{
    width: 100%;
    min-width: 1280px;
    font-family: "Microsoft Yahei", SimHei, SimSun, serif;
}
header{
    width: 100%;
    height: 60px;
    font-size: 0;
}
header .navbar-left{
    height: 60px;
    width: 10%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    position: relative;
    left: 7%;
    background: url("../images/t2.png") no-repeat left;
    background-size: 16% 50%;
}
header .navbar-left h1{
    color:#363737;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
}
header nav{
    height: 60px;
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 40%;
}
header nav ul{
    height: 60px;
    width: 100%;
    line-height: 60px;
    list-style: none;

    margin: 0;
    padding: 0;
}
header nav ul li{
    display: inline-block;
    width: 20%;
    font-size: 14px;
    text-align: center;

    color: #363737;
    cursor: pointer;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
header nav ul li:hover{
    color: #F04C57;
}
header nav ul .move{
    position: absolute;
    border-top: 4px solid #E53C3C;
    left: 0;
    top:55px;
    -webkit-transition: left .4s ease-in-out;
    -moz-transition: left .4s ease-in-out;
    -o-transition: left .4s ease-in-out;
    transition: left .4s ease-in-out;
}
header nav ul li:nth-child(1):hover~.move{
    left: 0;
}
header nav ul li:nth-child(2):hover~.move{
    left: 20%;
}
header nav ul li:nth-child(3):hover~.move{
    left: 40%;
}
header nav ul li:nth-child(4):hover~.move{
    left: 60%;
}
header nav ul li:nth-child(5):hover~.move{
    left: 80%;
}
header .navbar-right{
    font-size: 14px;
    color: #E53C3C;
    height: 60px;
    width: 7%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 50%;
    background: url("../images/t1.png")no-repeat left;
    background-size: 15px 18px;
}
header .navbar-right .move{
    width: 0;
    border-top:2px solid #E53C3C;
    position: absolute;
    top: 45px;
    left: 25%;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

header .navbar-right:hover .move{
    width: 50px;
}
#banner {
    width: 100%;
    height: 650px;
    margin-top: -2px;
    background-image: url("../images/bg1.jpg");
    background-size:  100% auto;
}
#banner .msg{
    position: absolute;
    top:270px;
    left: 120px;
}
#banner .msg p{
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
}
#banner .msg p:first-child{
    font-family: Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}
#banner .msg p:last-of-type{
    margin-bottom: 60px;
}
#banner .msg span{
    width: 300px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background: #E53C3C;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#banner .msg span:hover{
    background: #E31212;
    border-radius: 8px;
}
#article-1{
    width: 100%;
    height: 240px;
    font-size: 0;
}
#article-1 .cell{
    width: 25%;
    display: inline-block;
    position: relative;
    top:0;
}
#article-1 .cell .pic {
    width: 100%;
    height:130px;
    display: inline-block;
    line-height: 130px;
    text-align: center;
}
#article-1 .cell .pic img{
    position: relative;
    top: 30px;
}
#article-1 .cell .msg{
    width: 100%;
    height: 50px;
    font-size: 13px;
    color: #363737;
    text-align: center;
    border-right: 2px solid #534141;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#article-1 .cell:hover .msg{
    color: #be4f48;
}
#article-1 .cell:last-of-type .msg{
    border: none;
}
#article-2{
    width: 100%;
    height: 360px;
    background: #EDEAEA;
    text-align: center;
}
#article-2 .pic{
    position: relative;
    top: 80px;
}
#article-2 .msg{
    font-size: 50px;
    color: #534141;
    position: relative;
    top: 100px;
}
#article-3 {
    width: 100%;
    height: 304px;
    padding-top: 80px;
    text-align: center;
    background: url("../images/bg2.jpg");
    background-size: cover;
}
#article-3 .msg p{
    color: #fff;
    margin: 0;
}
#article-3 .msg p:first-child{
    font-size: 22px;
}
#article-3 .msg p:last-child{
    font-size: 13px;
}
#article-3 .msg span{
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-top: 10px;
    border-top: 2px solid #fff;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
#article-3 .msg span:hover{
    width: 300px;
}
#article-3 .options{
    height: 36px;
}
#article-3 input[type="radio"]{
    width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top:47px;
    z-index: 10;
}
#article-3 .options .select{
    width: 240px;
    height: 36px;
    margin: 0 10px;

    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #B3B3B3;

    display: inline-block;
    position: relative;

    box-sizing: border-box;
    border: 1px solid #C6B3AF;

    background: url(../images/icon-7.png) no-repeat 210px 8px,#fff;
    background-size: 20px;
}
#article-3 .options .select:last-of-type{
    visibility: hidden;
}
#article-3 .options .select span{
    margin-left: 10px;
}
#article-3 .options .select .option{
    width: 240px;
    background-color: #E3E3E5;
    position: absolute;
    z-index: 10;
    display: none;
    left: -2px;
    top:34px;
}
#article-3 input[type="radio"]:nth-of-type(1):checked~.options .select,
#article-3 input[type="radio"]:nth-of-type(2):checked~.options .select{
    top: -1px;
}
#article-3 input[type="radio"]:nth-of-type(1):checked~.options .select-1,
#article-3 input[type="radio"]:nth-of-type(2):checked~.options .select-2{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}
#article-3 input[type="radio"]:nth-of-type(1):checked~.options .select-1 .option,
#article-3 input[type="radio"]:nth-of-type(2):checked~.options .select-2 .option{
    display: block;
}
#article-3 input[type="radio"]:nth-of-type(3):checked~.options .select-3{
    border: 1px solid #C6B3AF;
}
#article-3 .options .select .option ul{
    margin: 0;
    padding: 0;
    width: 240px;
    box-sizing: border-box;
    border: 2px solid #AE7271;
    border-top-width: 0;
}
#article-3 .options .select .option ul li{
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 40px;
    list-style: none;
    cursor: pointer;
}
#article-3 .options .select .option ul li:hover{
    background: url(../images/icon-8.png) no-repeat 10px 8px,#BF4E48;
    background-size: 20px;
    color: #fff;
}
#article-3 input[type="submit"]{
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    background-color: #be4f48;
    color: #fff;
    letter-spacing: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top:36px;
    -webkit-transition: background-color .4s ease-in-out;
    -moz-transition: background-color .4s ease-in-out;
    transition: background-color .4s ease-in-out;
}
#article-3 input[type="submit"]:hover{
    background-color: #E31212;
    border-radius: 3px;
}
#article-4{
    width: 100%;
    height: 606px;
    background-color: #F6F6F6;
    text-align: center;
    font-size: 0;
}
#article-4 .cell{
    display: inline-block;
    width: 20%;
    height: 400px;
    position: relative;
    top: 65px;
}
#article-4 .cell .pic{
    width: 100%;
    height: 336px;
    padding:10px;
}
#article-4 .cell .pic img{
    height: 330px;
    width: 200px;
    padding:10px ;

    border: 1px solid #E5E5E5;
    cursor: pointer;
    background-color: white;
}
#article-4 .cell .msg{
    margin-top: 10px;
    width: 100%;
    height: 80px;
}
#article-4 .cell .msg p:first-child{
    font-size: 14px;
    color: #44403F;
    margin: 0;
}
#article-4 .cell .msg p:last-child{
    font-size: 12px;
    color: #B3AFAC;
}
#article-4 .cell:nth-child(2)>.msg{
    padding-top:30px;
    height: 50px;
}
#article-4 .cell:nth-child(2)>.msg p:first-child{
    font-size: 24px;
    text-indent: 50px;
    letter-spacing: 25px;
}
#article-4 .cell:nth-child(2)>.msg p:last-child{
    margin: 0;
}
#article-5{
    width:100%;
    height: 560px;
}
#article-5 .l-banner{
    width: 68%;
    height: 560px;
    float: left;
    position: relative;
    background: url("../images/bg3.jpg")no-repeat;
    background-size: cover;
}
#article-5 .l-banner .msg{
    color: #fff;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 130px;
}
#article-5 .l-banner .msg p{
    font-size: 30px;
    margin: 0;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
#article-5 .l-banner .msg p:nth-child(1){
    font-size: 50px;
    height:50px;
    line-height: 50px;
    margin-bottom: 0;
}
#article-5 .l-banner .msg p:nth-child(2){
    font-size: 150px;
    height:150px;
    line-height: 150px;
}
#article-5 .l-banner::after{
    content: '';
    position: absolute;
    border-width: 30px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    top: 250px;
    right: 0;
}
#article-5 .r-msg{
    height: 500px;
    margin-left: 68%;
    text-align: center;
}
#article-5 .r-msg .wrapper{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 130px;
}
#article-5 .r-msg .wrapper .msg{
    display: none;
}
#article-5 .r-msg .wrapper .msg-1{
    display: block;
}
#article-5 .r-msg .wrapper .msg p:first-child{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px;
}
#article-5 .r-msg .wrapper .msg p:first-child>span{
    color: #DA4444;
}
#article-5 .r-msg .wrapper .msg p:last-child{
    text-align: left;
    line-height: 25px;
    font-size: 14px;
    color: #B3AFAC;
    margin-bottom: 60px;
    -webkit-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out;
}
#article-5 .r-msg .wrapper .msg p:last-child:hover{
    color: #33363f;
}
#article-5 .r-msg .wrapper .button{
    width: 100px;
    height: 35px;
    font-size: 13px;
    display:inline-block;
    line-height: 35px;
    border:1px solid #be4f48;
    color: #BF4E48;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#article-5 .r-msg .wrapper .button:hover{
    color: #ffffff;
    border-radius: 3px;
    background-color: #BF4E48;
}
#article-5 .r-msg .wrapper input[type="radio"]{
    width: 10px;
    height: 10px;
    position: relative;
    top:320px;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}
#article-5 .r-msg .wrapper .list{
    height: 10px;
    width: 10px;
    border: 1px solid #6c5c5c;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    top:300px;
    z-index: 1;
}
#article-5 .r-msg .wrapper .list:first-of-type{
    background-color: #6c5c5c;
}
#article-5 .r-msg .wrapper input[type="radio"]:checked~.list{
    background-color: #fff;
}
#article-5 .r-msg .wrapper input[type="radio"]:checked~.msg{
    display: none;
}
#article-5 .r-msg .wrapper input[type="radio"]:nth-of-type(1):checked~.list:nth-of-type(1){
    background-color: #6c5c5c;
}
#article-5 .r-msg .wrapper input[type="radio"]:nth-of-type(1):checked~.msg-1{
    display: block;
}
#article-5 .r-msg .wrapper input[type="radio"]:nth-of-type(2):checked~.list:nth-of-type(2){
    background-color: #6c5c5c;
}
#article-5 .r-msg .wrapper input[type="radio"]:nth-of-type(2):checked~.msg-2{
    display: block;
}
#article-5 .r-msg .wrapper input[type="radio"]:nth-of-type(3):checked~.list:nth-of-type(3){
    background-color: #6c5c5c;
}
#article-5 .r-msg .wrapper input[type="radio"]:nth-of-type(3):checked~.msg-3{
    display: block;
}
#article-6{
    width: 100%;
    height: 520px;
}
#article-6 .wrapper{
    width: 68%;
    height: 520px;
    float: left;
    font-size: 0;
}
#article-6 .wrapper .cell{
    display: inline-block;
    width: 50%;
    height: 520px;
    font-size: 20px;
    text-align: center;
    position: relative;
}
#article-6 .wrapper .cell:first-child{
    background-color: #e84e4c;
    color: #fff;
}
#article-6 .wrapper .cell .msg{
    position: relative;
    top:200px;
    height: 100px;
}
#article-6 .wrapper .cell .msg p{
    margin-top: 0;
    margin-bottom: 10px;
}
#article-6 .wrapper .cell .msg span{
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#article-6 .wrapper .cell:nth-of-type(1) .msg span{
    border-top: 2px solid #fff;
}
#article-6 .wrapper .cell:nth-of-type(2) .msg span{
    border-top: 2px solid #ADADAD;
}
#article-6 .wrapper .cell .msg span:hover{
    width: 200px;
}
#article-6 .wrapper .cell .button{
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border:1px solid;
    position: relative;
    top:220px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#article-6 .wrapper .cell:first-child .button{
    border-color: #fff;
}
#article-6 .wrapper .cell:first-child .button:hover{
    background-color: #fff;
    color: #e84e4c;
    border-radius: 3px;
}
#article-6 .wrapper .cell:last-child .button{
    border-color: #e84e4c;
    color: #e84e4c;
}
#article-6 .wrapper .cell:last-child .button:hover{
    background-color: #e84e4c;
    color: #fff;
    border-radius: 3px;
}
#article-6 .wrapper .cell:last-child::after{
    content: '';
    position: absolute;
    border-width:20px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    top: 240px;
    left: 100%;
}
#article-6 .pic{
    background-image: url("../images/bg4.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:68% ;
    height: 520px;
}
#article-7{
    width: 100%;
    height: 750px;
    text-align: center;
}
#article-7 .top{
    width: 100%;
    height: 250px;
    text-align: center;
}
#article-7 .top .msg{
    position: relative;
    top:80px;
}
#article-7 .top .msg p{
     margin: 0;
 }
#article-7 .top .msg p:nth-of-type(1){
    font-size: 18px;
}
#article-7 .top .msg p:nth-of-type(2){
    font-size: 14px;
    color: #B3AFAC;
}
#article-7 .top .msg span{
    color: #fff;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 10px;
    border-top: 2px solid #E44F4B;
    -webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#article-7 .top .msg span:hover{
    width: 200px;
}
#article-7 .left{
    width: 30%;
    height: 400px;
    display: inline-block;
    font-size: 20px;
    text-align: left;
}
#article-7 .left .msg{
    width: 350px;
    height: 130px;
}
#article-7 .left .msg span{
    font-size: 14px;
    color: #B3AFAC;
    float: right;
    cursor: pointer;
}
#article-7 .left .msg p:nth-of-type(1){
    font-size: 16px;
    color: #6c5c5c;
}
#article-7 .left .msg p:nth-of-type(2){
    font-size: 14px;
    color: #b3afac;
    margin-bottom: 0;
}
#article-7 .right{
    width: 700px;
    height: 400px;
    display: inline-block;
    text-align: left;
    font-size: 0;
}
#article-7 .right input[type="text"]{
    height: 40px;
    width: 300px;
    font-size: 14px;
    color: #4e3a4f;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
}
#article-7 .right textarea{
    height: 160px;
    width: 620px;
    font-size: 14px;
    color: #4e3a4f;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
    resize: none;
}
#article-7 .right input[type="submit"]{
    height: 40px;
    width: 620px;
    font-size: 14px;
    color: #4e3a4f;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
    resize: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#article-7 .right input[type="submit"]:hover{
    border-radius: 5px;
    box-shadow: 1px 1px 1px #B3AFAC,-1px -1px 1px #B3AFAC;
}
#article-7 .right input[type="text"]:focus,
#article-7.right textarea:focus{
    border: 1px solid#e3e3e3;
    background-color: #fff;
}
#article-8{
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: #33363f;
}
#article-8 .msg{
    width: 100%;
    height: 150px;
    color: #f7f8fc;
    display: inline-block;
    margin-top: 80px;
}
#article-8 .msg p:first-child{
    font-size: 20px;
}
#article-8 .msg p:last-child{
    font-size: 14px;
}
#article-8 .text{
    width: 100%;
    height: 40px;
    display: inline-block;
    font-size: 0;
}
#article-8 .text input[type="email"]{
    width: 500px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    box-sizing: border-box;
    color: #75757F;
}
#article-8 .text input[type="email"]:focus{
    outline: 0;
}
#article-8 .text input[type="submit"]{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    border: 0;
    box-sizing: border-box;
    background-color: #75757F;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
#article-8 .text input[type="submit"]:hover{
    background-color: #5E5E68;
}
#article-8 .icon{
    width: 100%;
    height: 50px;
    display: inline-block;
    position: relative;
    top:30px;
}
#article-8 .icon i{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
}
#article-8 .icon i:nth-of-type(1){
    background:url('../images/d1.png') no-repeat;
}
#article-8 .icon i:nth-of-type(2){
    background:url('../images/d2.png') no-repeat;
}
#article-8 .icon i:nth-of-type(3){
    background:url('../images/d3.png') no-repeat;
}
#article-8 .icon i:nth-of-type(4){
     background:url('../images/d4.png') no-repeat;
 }

footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #30303A;
}
footer .msg,footer .back{
    width: 300px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 10px;
}
footer .msg{
    float: left;
    cursor: pointer;
}
footer .back{
    float: right;
}
footer .back a{
    text-decoration: none;
    color: #fff;
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}
footer .back a:hover{
    color: #75757F;
}
